.section {
  flex: 1;
  display: flex;
  padding: 20px 20px;
}

.section:first-child > span {
  margin-right: auto;
}

.section:last-child > span {
  margin-left: auto;
}

.highlight {
  background: linear-gradient(
    90deg,
    rgba(33, 150, 243, 0.5) 0%,
    rgba(33, 150, 243, 0.5) 0.4%,
    rgba(33, 150, 243, 0.2) 0.4%,
    rgba(33, 150, 243, 0) 100%
  );
}

.highlight-text {
  color: var(--accent-color);
}
