.sign-in {
  font-size: 20px;
  color: var(--fg-secondary);
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.sign-in:hover {
  color: var(--fg-color);
}

.selected {
  color: var(--fg-color);
}

.auth {
  width: min(90%, 400px);
  padding: 20px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.submit {
  padding: 10px;
  border: transparent;
  background-color: var(--fg-color);
  color: var(--bg-color);
  cursor: pointer;
}
.submit:hover {
  background-color: var(--fg-accent);
}

.submit:disabled {
  background-color: var(--fg-secondary);
  cursor: default;
}
