:root {
  color-scheme: light dark;
  --white: #ffffff;
  --dim-white: #f5f5f5;
  --dimmer-white: #f0f0f0;
  --bg-color: var(--dim-white);
  --bg-secondary-color: var(--white);
  --bg-tertiary: var(--dimmer-white);
  --bg-green: #32a852;
  --bg-greenish: #32a85233;
  --fg-color: #333;
  --accent-color: #2196f3;
  --accent-color-two: #21c2f3;
  --fg-accent: #555;
  --fg-secondary: #0004;
  --rt-transition-show-delay: 1s !important;
  --rt-transition-closing-delay: 1s !important;
  --flex-dir: row;
  --shrink-tiny: 0.9em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --bg-secondary-color: #444;
    --bg-tertiary: #555;
    --fg-accent: #ccc;
    --fg-color: #f5f5f5;
    --fg-secondary: #fff4;
    --rt-color-dark: #eee !important;
    --rt-color-white: #222 !important;
  }
}

@media (max-width: 600px) {
  :root {
    --flex-dir: column;
    --shrink-tiny: 0.7em;
  }
  .hide {
    display: none;
  }
}

.react-tooltip {
  transition: all 0.15s ease;
  transition: opacity 0.3s ease-in-out !important;
  visibility: visible;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.p-10 {
  padding: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.mb-12 {
  margin-bottom: 12px;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.space-beneath {
  margin-bottom: 32px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-right {
  justify-content: flex-end;
}

.flexVar {
  display: flex;
  flex-direction: var(--flex-dir);
  align-items: center;
}

.responsive-fg {
  width: min(90%, 1200px);
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.full {
  width: 100%;
  height: 100%;
}

.vfull {
  width: 100vw;
  margin-top: 50px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.fg-white {
  color: var(--white);
}

.bg-green {
  background-color: var(--bg-green);
}

.pop-shadow {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
}

.tiny {
  font-size: 0.3rem;
}

.transparent {
  color: #0000;
}

.small {
  font-size: 0.8rem;
}
.medium {
  font-size: 0.9rem;
}
.large {
  font-size: 1.2rem;
}
.bold {
  font-weight: 700;
}

.shrink-tiny {
  font-size: var(--shrink-tiny);
}

.gap-12 {
  gap: 12px;
}

.gap-8 {
  gap: 8px;
}

.mw-80 {
  min-width: 70%;
}

.normal {
  font-weight: 400;
}

.shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bg-secondary {
  background-color: var(--bg-secondary-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.f1 {
  flex: 1;
}

.user-badge {
  text-align: right;
}

h2,
h4 {
  text-align: center;
}

.center {
  text-align: center;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

button {
  border: 1px solid var(--fg-secondary);
  background-color: var(--bg-tertiary);
  color: var(--fg-accent);
  padding: 10px;
  cursor: pointer;
}
button:disabled {
  background-color: var(--bg-secondary-color);
  cursor: default;
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  padding: 10px;
  border: 1px solid var(--fg-secondary);
  background-color: var(--bg-tertiary);
  color: var(--fg-color);
  transition: all 5000000s ease-in-out 0s;
  font-size: 14px;
}
input:disabled {
  background-color: var(--bg-secondary-color);
}

.fg-color {
  color: var(--fg-color);
}

.outline-green {
  background-color: var(--bg-greenish);
}

.rounded {
  border-radius: 5px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
